@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #181C1F
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.tabs {
    cursor: pointer;
}

.tabs li {
    list-style-type: none;
    margin: 0 40px 0 40px;
}

.tabs ul {
    display: flex;
    padding: 0px;
    font-size: 30px;
}

.tab-list::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #10D078;
    transition: width .5s;
}

.tab-list:hover::after {
    width: 100%;
    transition: width .5s;
}

.active.tab-list {
    color: #10D078;
}

.content {
    display: none;
}

.active.content {
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0 0 0;
}
 
.form-container p {
    text-align: center;
}   

.form-container input {
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 2px solid #AAA;
    outline: none;
    text-align: center;
    background: url(../images/help.png) no-repeat 8px;
}

.tabs-content button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #10D078;
    color: #fff;
    font-size: larger;
    font-weight: 300;
    cursor: pointer;
}

.tabs-content img {
    display: block;
    margin-top: 30px;
}

.image-container {
    width: 640px;
    height: 360px;
    border: 2px solid #cccc;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #AAA;
}

img.user-image-preview {
    display: none;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 0 0;
}

.image-default {
    display: block;
    align-items: center;
    justify-content: center;
}

.custom-input {
    color: transparent;
}   

input#userImg {
    color: transparent;
}

input[type=file]::file-selector-button {
    width: 160px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #10D078;
    color: #ffff;
    font-size: larger;
    font-weight: 100;
    cursor: pointer;
}
    